%h4
  %br
  &nbsp;
  %br
  = "Total Count: #{@records_count}"
%br
= will_paginate @records
%table.fu-table.table-bordered.table-striped.table-hover{:style => 'width:100%; border:1px'}
  .thead
    %tr
      %th{:style=>'text-align:left; font-size:12px; background-color: lightblue;'}
        Record Number Count
      %th{:style=>'text-align:left; font-size:12px; background-color: lightblue;'}
        Record Text
      %th{:style=>'text-align:left; font-size:12px; background-color: lightblue;'}
        Status
      %th{:style=>'text-align:left; font-size:12px; background-color: lightblue;'}
        Fault Text
      %th{:style=>'text-align:left; font-size:12px; background-color: lightblue;'}
        Fault Bitstream
  .tbody
    - @records.each do |record|
      %tr
        %td{:style=>'width:25%; text-align:left;'}
          = record.record_no
        %td{:style=>'width:25%; text-align:left;'}
          - if record.record_txt.nil?
            .span{:class =>"has-tooltip", "data-toggle" => 'tooltip',"title" => "No Record Text Available for this record", "data-placement" => 'bottom', "data-html" => true}
              Show Record Text
          - else
            = link_to "Show Record Text", show_modal_incoming_file_record_path(record.id,:flag => 'record'),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}
        %td{:style=>'width:25%; text-align:left;'}
          = record.status
        %td{:style=>'text-align:left;'}
          - if record.fault_code.nil? or record.fault_reason.nil?
            .span{:class =>"has-tooltip", "data-toggle" => 'tooltip',"title" => "No Fault Text Available for this record", "data-placement" => 'bottom', "data-html" => true}
              Show Fault Text
          - else
            = link_to "Show Fault Text", show_modal_incoming_file_record_path(record.id,:flag => 'fault'),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}
        %td{:style=>'text-align:left;'}
          = link_to "Show Fault Bitstream", show_modal_incoming_file_record_path(record.id,:flag => 'fault_bitstream'),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}
%div{ id:"modal-window", class:"modal hide fade", role: "dialog", 'aria-labelledby' => "myModalLabel", 'aria-hidden' => "true"}
