.modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  .modal-body
    - if flag == 'fault'
      %table.table.datatable
        %thead
          %tr
            %th Fault Code
            %th Fault Subcode
            %th Fault Reason
        %tbody
          %tr
            %td
              = fault.fault_code
            %td
              = fault.fault_subcode
            %td
              = fault.fault_reason
    - elsif flag == 'request'
      %table.table.datatable
        %thead
          %tr
            %th Request
        %tbody
          %tr
            %td
              = fault.req_bitstream
    - elsif flag == 'response'
      %table.table.datatable
        %thead
          %tr
            %th Response
        %tbody
          %tr
            %td
              = fault.rep_bitstream
    - elsif flag == 'fault_bitstream'
      %table.table.datatable
        %thead
          %tr
            %th Fault Bitstream
        %tbody
          %tr
            %td
              = fault.fault_bitstream