.fu-form-main{:style=>'background-color: #F1F2F8; width: 100%; height: 600px;display: inline-block;'}
  %h3
    Audit Logs:
  %br
  = "Total Count: #{@records_count}"
  %br
  = will_paginate @record_values
  %br
  %table.fu-table.table-bordered.table-striped.table-hover{:style=>'background-color: #F1F2F8;'}
    .thead
      %th{:style=>'text-align:left; background-color: lightblue;'}
        Step Number
      %th{:style=>'text-align:left; background-color: lightblue;'}
        Step Name
      %th{:style=>'text-align:left; background-color: lightblue;'}
        Status
      %th{:style=>'text-align:left; background-color: lightblue;'}
        Attempt No
      %th{:style=>'text-align:left; background-color: lightblue;'}
        Request
      %th{:style=>'text-align:left; background-color: lightblue;'}
        Reply
      %th{:style=>'text-align:left; background-color: lightblue;'}
        Requested At
      %th{:style=>'text-align:left; background-color: lightblue;'}
        Replied At
      %th{:style=>'text-align:left; background-color: lightblue;'}
        Fault Code
      %th{:style=>'text-align:left; background-color: lightblue;'}
        Fault Text
      %th{:style=>'text-align:left; background-color: lightblue;'}
        Fault Result
    .tbody
      - @record_values.each do |value|
        %tr
          %td{:style=>'text-align:left;'}
            = value.step_no
          %td{:style=>'text-align:left;'}
            = value.step_name
          %td{:style=>'text-align:left;'}
            = value.status_code
          %td{:style=>'text-align:left;'}
            = value.attempt_no   
          %td{:style=>'text-align:left;'}
            = link_to "Show Request", show_audit_modal_incoming_file_path(value.id,:flag => 'request'),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}
          %td{:style=>'text-align:left;'}
            = link_to "Show Response", show_audit_modal_incoming_file_path(value.id,:flag => 'response'),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}
          %td{:style=>'text-align:left;'}
            = value.req_timestamp.try(:strftime, "%d/%m/%Y %I:%M:%S:%L%p") rescue nil
          %td{:style=>'text-align:left;'}
            = value.rep_timestamp.try(:strftime, "%d/%m/%Y %I:%M:%S:%L%p") rescue nil
          %td{:style=>'text-align:left;'}
            = value.fault_code   
          %td{:style=>'text-align:left;'}
            - if !value.fault_reason.nil?
              = link_to "Show Fault Text", show_audit_modal_incoming_file_path(value.id,:flag => 'fault'),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}
            - else
              = '-' 
          %td{:style=>'text-align:left;'}
            - if !value.fault_reason.nil?
              = link_to "Show Fault Text", show_audit_modal_incoming_file_path(value.id,:flag => 'fault_bitstream'),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}
            - else
              = '-'

%div{ id:"modal-window", class:"modal hide fade", role: "dialog", 'aria-labelledby' => "myModalLabel", 'aria-hidden' => "true"}